<script>
     export default Vue.extend({
           template: 
           `
            <div>       

                <canvas id="income_graph" width="300" height="300" ref="canvas"></canvas>
            
            </div>
        `,        
           
            props: ['keys', 'values', 'range'],

            data() {
                return {
                    legend: ''
                };
            },

            mounted() {
                this.render({
                    labels: this.keys,
                    datasets: [
                        {
                    label: "Income Paid in", // You can pass this in as a property.
                    backgroundColor: [
                            'rgba(255, 99, 132, 0.2)',
                            'rgba(54, 162, 235, 0.2)',
                            'rgba(255, 206, 86, 0.2)',
                            'rgba(75, 192, 192, 0.2)',
                            'rgba(153, 102, 255, 0.2)', 
                            'rgba(255, 159, 64, 0.2)',
                        ],
                        borderColor: [
                           'rgba(255,99,132,1)',
                            'rgba(54, 162, 235, 1)',
                            'rgba(255, 206, 86, 1)',
                            'rgba(75, 192, 192, 1)',
                            'rgba(153, 102, 255, 1)',
                            'rgba(255, 159, 64, 1)',
                        ],
                        borderWidth: 1
                    ,
                        data: this.values
                        }
                    ]
                });
            },

            methods: {
                render(data) {
                    const chart = new Chart(
                    
                    this.$refs.canvas.getContext('2d'), { type: "bar", data: data}

                    );

            this.legend = chart.generateLegend();
                }
            }
        }

    );
        
          
        
</script>
