<script>
     export default Vue.extend({
           template: 
           `
            <div class="container">       

                <canvas id="overview_graph" width="300" height="300" ref="canvas"></canvas>
            
            </div>
        `,        
           
            props: ['keys', 'values',],

            data() {
                return {
                    legend: ''
                };
            },

            mounted() {
                this.render({
                    labels: this.keys,
                    datasets: [
                        {
                    label: "Overview Account", // You can pass this in as a property.
                    backgroundColor: [
                            'rgba(255, 99, 80, 1)',
                            'rgba(54, 162, 235, 1)',
                            'rgba(255, 206, 86, 1)',
                            'rgba(75, 192, 192, 1)',
                            'rgba(153, 102, 255, 1)', 
                            'rgba(255, 159, 64, 1 )',
                            'rgba(139, 195, 74, 1)',
                            'rgba(255, 119, 50, 1)',
                            'rgba(155, 30, 233, 1)',
                            'rgba(255, 75, 200, 1)',
                        ],
                        borderColor: [
                           'rgba(255, 255, 255, 255)',
                            'rgba(255, 255, 255, 255)',
                           'rgba(255, 255, 255, 255)',
                           'rgba(255, 255, 255, 255)',
                           'rgba(255, 255, 255, 255)',
                           'rgba(255, 255, 255, 255)',
                           'rgba(255, 255, 255, 255)',
                           'rgba(255, 255, 255, 255)',
                           'rgba(255, 255, 255, 255)',
                           'rgba(255, 255, 255, 255)',

                        ],
                        borderWidth: 1
                    ,
                        data: this.values
                        }
                    ]
                });
            },

            methods: {
                render(data) {
                    const chart = new Chart(
                    
                    this.$refs.canvas.getContext('2d'), { type: "bar", data: data,}

                    );

            this.legend = chart.generateLegend();
                }
            }
        }

    );
        
          
        
</script>
